{% load account_tags %}
{% load thumbnail %}
<div class="profile-item">
    <div class="name">
    	<a href="{% url profile_detail profile.user.username %}">
		{% thumbnail profile.thumbnail "150x170" as im %}
	    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{profile.name}}" />
		{% empty %}
	    <img src="{{ STATIC_URL }}images/default_profile.png" alt="{{profile.name}}" />
		{% endthumbnail %}
        {% if profile.name %}
            {{ profile.name }}{% if profile.char_name %} ({{ profile.char_name }}){% endif %}
        {% else %}
            {% user_display profile.user %}
        {% endif %}
        </a>
    </div>
    <div class="details">
        {% if profile.title %}{{ profile.title }}{% endif %}
        {% if profile.title and profile.race %}&bull;{% endif %}
        {% if profile.race %}{{ profile.get_race_display }}{% endif %}
    </div>
    <div class="clear"></div>
</div>
