{% load i18n %}
{% load thumbnail %}


          <div class="content-section-1">

            <p>
              {% thumbnail profile.photo "352x450" upscale=False as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{profile.name}}" />
  {% empty %}
    <img src="{{ STATIC_URL }}images/default_profile.png" alt="{{profile.name}}" />
  {% endthumbnail %}
            </p>
<h3 class="t2">Record</h3>
<p><a href="{% url games %}?player={{profile.slug}}">{{profile.wins}}W : {{profile.losses}}L</a></p>
{% if profile.captain_of.count %}
<h3 class="t2">Captain</h3>
<p>{% for team in profile.captain_of.all %}{{ team }} {% endfor %}</p>
{% endif %}
{% if profile.title %}
<h3 class="t2">Title</h3>
<p>{{ profile.title }}</p>
{% endif %}
{% if profile.website %}
<h3 class="t2">Website</h3>
<p><a href="{{ profile.website }}">{{ profile.website }}</a></p>
{% endif %}
{% if request.user.is_authenticated and profile != request.user.get_profile %}<a href="{% url messages_compose_to profile.user %}" class="btn">Send Message</a>{% endif %}
<a href="{% url membership_create slug=profile.slug %}" class="btn">Add to team</a>
</div>
<div class="content-section-2">
{% for membership in profile.memberships %}
<h3 class="t2"><a href="{% url player_profile tournament=membership.team.tournament_id team=membership.team.slug profile=profile.slug %}">{{membership.team.tournament}} : {{membership.team}}{% if membership.captain %}*{% endif %} : {{membership}}</a></h3>
{% endfor %}
</div>

