{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "Standings" %}{% endblock %}

{% block content-class %}static-page standings-page-template{% endblock %}
{% block body %}
    <h2 class="title title-1 t1">{% trans "Standings" %}</h2>
<div class="content-section-1">
	{% regroup object_list by stage_name as stage_list %}
    {% for stage in stage_list %}
        {% for round in stage.list %}
{% if forloop.first %}
{% if stage_list|length > 1 %}
    <div class="">
      <h3 class="f5 bold">
        <a data-toggle="collapse" href="#stage{{stage.grouper|slugify}}" class="accordion-toggle" >
          {{stage.grouper}} +
        </a>
      </h3>
      <p></p>
      <div id="stage{{stage.grouper|slugify}}" class="{% if forloop.parentloop.first %} in{% endif %} collapse">
        <div class="">
{% endif %}
{% endif %}
{% if round.structure == "G" %}
            {% if forloop.first %}
          <table class="standings-table">
            <col class="standings-table-rank" />
            <col class="standings-table-team" />
            <col class="standings-table-record" />
            {% if show_points %}<col class="standings-table-points" />{% endif %}
            <col class="standings-table-link" />
		    <thead><tr><th>Rank</th><th>Team</th><th>Wins/Losses</th>{% if show_points %}<th>Tiebreaker Points</th>{% endif %}<th>Learn more about the Team</th></tr></thead>
		    <tbody class="f4">
        {% endif %}
        {% if stage.list|length > 1 %}
		    <tr><th colspan="5" class="t2" style="text-align:left;">Division {{round.order}}</th></tr>
        {% endif %}
              {% for team_roundmembership in round.participants %}
              {% with team=team_roundmembership.team %}
                  <tr>
                  <td>{{forloop.counter}}</td><td>{{team.name}}</td><td>{{team_roundmembership.wins}} / {{team_roundmembership.losses}}</td>{% if show_points %}<td>{{team_roundmembership.tiebreaker}}</td>{% endif %}
                  <td class="f1"><a href="{{team.get_absolute_url}}">{{team.name}} Team Link</a></td>
                  </tr>
              {% endwith %}
              {% endfor %}
{% else %}
<div class="bracket">
{% for row in round.elim_bracket %}
<div class="bracket-round">
<h3>{{row.name}}</h3>
{% for item in row.items %}
{% if item.is_champion %}
<div class="bracket-item"><a href="{{item.home_team_membership.team.get_absolute_url}}">{% if item.home_team_membership %}<span class="seed">#{{item.home_team_membership.team.seed}}</span>{% endif %}<span class="team">{{item.home_team_membership.team|default:"-"}}</span></a></div>
{% else %}
<div style="-moz-box-pack:end;" class="bracket-item" class="{% if item.match.winner_id == item.home_team_membership.team_id %}winner{% endif %}"><a href="{{item.home_team_membership.team.get_absolute_url}}" >{% if item.home_team_membership %}<span class="seed">#{{item.home_team_membership.team.seed}}</span>{% endif %}<span class="team">{{item.home_team_membership.team|default:"-"}}</span><span class="score">{{item.match.home_wins|default:"0"}}</span></a></div>
<div style="-moz-box-pack:start;" class="bracket-item" class="{% if item.match.winner_id == item.away_team_membership.team_id %}winner{% endif %}"><a href="{{item.away_team_membership.team.get_absolute_url}}" class="{% if item.winner %}winner{% endif %}">{% if item.away_team_membership %}<span class="seed">#{{item.away_team_membership.team.seed}}</span>{% endif %}<span class="team">{{item.away_team_membership.team|default:"-"}}</span><span class="score">{{item.match.away_wins|default:"0"}}</span></a></div>
{% endif %}

{% endfor %}
</div>
{% endfor %}
</div>
{% endif %}
              {% if forloop.last %}
        </tbody>
          </table>
          
        </div>
{% if stage_list|length > 1 %}
      </div>
     </div>
{% endif %}
{% if not forloop.parentloop.last %}<hr />{% endif %}
     {% endif %}
        {% endfor %}
     {% endfor %}
</div>
{% endblock %}