{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}
{% load thumbnail %}

{% block head_title %}{{team}}{% endblock %}

{% block body %}
    <h1 style="text-align:center;">{{team}}</h1>
    <div style="text-align:center;">
	{% thumbnail team.photo "920x450" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{team.name}}" />
	{% empty %}
    <img src="{{ STATIC_URL }}images/default_profile.png" alt="{{team.name}}" />
	{% endthumbnail %}
	</div>
    <div class="row">
    <div class="span3">
    <ul>
    <li>Rank: {{team.rank}}</li>
    <li>Win/Loss: <a href="{% url matches tournament_slug %}?team={{team.slug}}">{{team.wins}}/{{team.losses}}</a></li>
    <li>Tiebreaker: {{team.tiebreaker}}</li>
    {% if team.motto %}<li>Motto: {{team.motto}}</li>{% endif %}
    {% if team.captain %}<li>Captain: <a href="{{team.captain.get_absolute_url}}">{{team.captain.char_name}}</a></li>{% endif %}
    </ul>
    </div>
    <div class="span5">
    <h3>Charity:</h3>
    <p>
    {% if team.charity.link %}<a href="{{team.charity.link}}">{% endif %}{{team.charity}}{% if team.charity.link %}</a>{% endif %}
    {% if team.charity.desc %} - {{team.charity.desc}}{% endif %}
    </p>
    </div>
    <div class="span4">
	{% thumbnail team.charity.logo "300x300" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{team.charity}}" />
	{% endthumbnail %}
    </div>
    </div>

    {% with members=team.members.all %}
    {% autopaginate members 12 %}
    
    <ul class="thumbnails">
    {% for player in members %}
        <li><a href="{{player.get_absolute_url}}" class="thumbnail">
		{% thumbnail player.thumbnail "150x170" as im %}
	    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{player.name}}" />
		{% empty %}
	    <img src="{{ STATIC_URL }}images/default_profile.png" alt="{{player.name}}" />
		{% endthumbnail %}
		<br>
        <b>{{player.char_name}}{% if player == team.captain %} *{% endif %}</b><br />{{player.name}}</a></li>
    {% endfor %}
    </ul>
    
    {% paginate %}
    {% endwith %}
    
{% endblock %}