{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "Teams" %}{% endblock %}

{% block body %}
    <h1>{% trans "Teams" %}</h1>
    
    {% autopaginate team_list %}
    
    <ul class="thumbnails">
    {% for team in team_list %}
        <li><a href="{% url team_page tournament_slug team.slug %}" class="thumbnail">
	 	{% thumbnail team.photo "214x120" crop="center" as im %}
	    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{team.name}}" />
		{% empty %}
	    <img src="{{ STATIC_URL }}images/default_profile.png" alt="{{team.name}}" />
		{% endthumbnail %}
       <br>{{team.name}}</a></li>
    {% endfor %}
    </ul>
    
    {% paginate %}
    
{% endblock %}