{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "Matches" %}{% endblock %}

{% block body %}
    <h2 class="title title-1 t1">{% trans "Past Tournaments" %}</h2>
    
    {% autopaginate tournament_list %}
    
    <ul class="unstyled">
    {% for tournament in tournament_list %}
        <li><h3 class="t2"><a href="/{{tournament.slug}}">{{ tournament.name }}</a></h3>
              <ul>
			    <li><a href="{% url videos tournament.slug %}">{% trans "Videos" %}</a></li>
          <li><a href="{% url schedule tournament.slug %}">{% trans "Schedule" %}</a></li>
			    <li><a href="{% url standings tournament.slug %}">{% trans "Team Standings" %}</a></li>
			    <li><a href="{% url teams tournament.slug %}">{% trans "Teams" %}</a></li>
              </ul>
        </li>
    {% empty %}
    	<li>No past tournaments</li>
    {% endfor %}
    </ul>
    
    {% paginate %}
    
{% endblock %}