{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}

{% block head_title %}Games{% endblock %}
{% block extra_head %}
{% if player %}
<style>.table td {border-top:none;}</style>
{% endif %}
{% endblock %}

{% block body %}
	{% if player %}<h2><a href="{{ player.get_absolute_url }}" class="title title-1 t1"><span class="t3">Back to </span>{{player}}</a></h2>{% endif %}

	{% autopaginate game_list 10 %}
    <ul class="video-link-list">

    {% if player %}
    <h3 class="t6">WINS</h3>
    {% endif %}
    {% for game in game_list %}
    {% if player %}
    {% if forloop.counter == loss_i %}<h3 class="t6">LOSSES</h3>{% endif %}
    {% ifchanged %}<h4 class="t3">{{game.match}}</h4>{% endifchanged %}
    {% else %}
    {% ifchanged %}<h2 class="t2">{{game.match.publish_date}}</h2>{% endifchanged %}
    {% ifchanged %}<h3 class="t3">{{game.match}}</h2>{% endifchanged %}
    {% endif %}
    <li class="cf" style="float:none;">
    {% with match=game.match %}
    {% include "tournaments/game_detail.html" %}
    {% endwith %}
    </li>
    {% endfor %}
    </ul>
    {% paginate %}
    
{% endblock %}