{% load thumbnail %}

{% if match.home_submitted and match.away_submitted and game.home_player %}
{% with player=game.home_player thumb_size="150x170" width=150 %}
{% include "tournaments/_player_preview.html" %}
{% endwith %}
{% else %}
{% with player=match.home_team thumb_size="214x120" width=214 %}
{% include "tournaments/_player_preview.html" %}
{% endwith %}
{% endif %}

<div class="video-link-container">
{% if game.vod %}
<a href="{{game.vod}}" style="width:595;height:170;" class="video-link">
{% endif %}
{% if match.home_submitted and match.away_submitted and game.home_player %}
{% thumbnail game.map.photo "595x170" as im %}
<image src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{game.map.name}}" />
{% endthumbnail %}
{% else %}
{% thumbnail game.map.photo "470x160" as im %}
<image src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{game.map.name}}" />
{% endthumbnail %}
{% endif %}
{% if game.vod %}
</a>
{% endif %}
<p></p>
<h3 class="t3">Game {{game.order}} – {{game.map}}{% if match.home_submitted and match.away_submitted and game.home_race %} – {{game.home_race}}v{{game.away_race}}{% endif %}</h3>
{% if game.replay %}
<p><a href="{{ MEDIA_URL }}{{game.replay}}">Get the replay</a></p>
{% endif %}
</div>

{% if match.home_submitted and match.away_submitted and game.home_player %}
{% with player=game.away_player thumb_size="150x170" width=150 last="last" %}
{% include "tournaments/_player_preview.html" %}
{% endwith %}
{% else %}
{% with player=match.away_team thumb_size="214x120" width=214 last="last" %}
{% include "tournaments/_player_preview.html" %}
{% endwith %}
{% endif %}
