{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}

{% block head_title %}{{match.home_team}} vs {{match.away_team}}{% endblock %}

{% block body %}
    <h1 style="text-align:center;"><a href="{{match.home_team.get_absolute_url}}">{{match.home_team}}</a> vs <a href="{{match.away_team.get_absolute_url}}">{{match.away_team}}</a></h1>
    
    {% autopaginate match.games_played %}
    
    <div id="main-content">
    {% if match.first_vod %}
    <div style="text-align:center;" id="main-video-container"><iframe src="{{match.first_vod}}" width="920" height="459" frameborder="0" allowfullscreen></iframe><embed type="application/x-shockwave-flash" src="{{match.first_vod}}" style="display:none"></embed></div>
    {% endif %}
    <table class="table">
    {% for game in match.games_played %}
    {% include "tournaments/game_detail.html" %}
    {% endfor %}
    </table>    
    {% paginate %}
    </div>
    <script src="{{STATIC_URL}}js/base.js"></script>
{% endblock %}