{% extends "site_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "Report Match" %}{% endblock %}

{% block body %}
    <h2 class="title title-1 t1">Match: {{match}}</h2>
{% if form %}
<form enctype="multipart/form-data" method="post" class="form-horizontal well">
    {% for part in form %}
      {% if part|length %}
        {% for f in part %}
        <fieldset>
            <legend class="row-fluid"><div class="span2">{{f.instance.map}}</div>
            {% if f.instance.home_player %}<div class="span">{% if not f.instance.is_ace %}{{f.instance.home_player}} ({{f.instance.get_home_race_display}}) vs {{f.instance.away_player}} ({{f.instance.get_away_race_display}}){% endif %}</div>{% endif %}
            </legend>
            {{ f|as_bootstrap }}
        </fieldset>
        {% endfor %}
      {% else %}
        <legend class="row-fluid">{{part.prefix}}</legend>
        {{part|as_bootstrap}}
      {% endif %}
      {{ part.management_form }}
    {% endfor %}
    {{ form.management_form }}
{% csrf_token %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endif %}

{% endblock %}