{% extends "site_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "Submit Lineup" %}{% endblock %}

{% block body %}
{% if form %}
<h2>Team: {{team}}</h2>
<h3>Match: {{match}}</h3>    
<form method="post" class="form-horizontal well">
    {% for f in form %}
    <fieldset>
        <legend>{{f.instance.map}}</legend>
        {{ f|as_bootstrap }}
    </fieldset>
    {% endfor %}
    {% for ace_game in aces %}
    <fieldset>
        <legend>Ace: {{ace_game.map}}</legend>
    </fieldset>
    {% endfor %}
    {{ form.management_form }}
    {% csrf_token %}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endif %}

{% endblock %}