{% extends "site_base.html" %}

{% load i18n %}
{% load account_tags %}
{% load pagination_tags %}

{% block head_title %}Videos{% endblock %}

{% block body %}
        <h2 class="title title-1 t1">Videos</h2>
      
        <div class="entry cf">
        
                <!-- start content -->
                <p>Live cast by Day[9] at <a href="http://day9.tv/live/">http://day9.tv/live/</a>
 every Wednesday at 8:15pm PST. Videos of matches covered by other 
casters will be up by Friday of each week and embedded on the site. 
Follow us on Twitter <a href="https://twitter.com/ahgltv">https://twitter.com/ahgltv</a> or Facebook at <a href="https://www.facebook.com/AHGLtv">https://www.facebook.com/AHGLtv</a> to be notified when casts go live and VODs are posted!</p>
<div class="content-section-1">
  {% regroup game_list by match as match_list %}
    {% autopaginate match_list 5 %}
    {% for match in match_list %}
       <ul class="result-list cf">
        <h3 class="t11"><a href="{% url match_page tournament=tournament_slug pk=match.grouper.pk %}">{{match.grouper}}</a></h3><hr>
        {% for game in match.list %}
        <li class="result-excerpt{% if forloop.first %} first-in-row{% endif %}">
        <h3 class="result-excerpt-title">
        <a class="result-excerpt-link alt-link" href="{{game.vod}}" id="post-133" target="_blank"><span class="t8">{{match.grouper.home_team.name}}</span> <span class="t7">vs</span> <span class="t8">{{match.grouper.away_team.name}}</span></a><a href="{% url match_page tournament=tournament_slug pk=match.grouper.pk %}">Game {{forloop.counter}}</a>
        </h3>
        </li>
        {% endfor %}
        </ul>
    {% endfor %}
    {% paginate %}
</div>
</div>
{% endblock %}