{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<div class="container">
        {% include "_messages.html" %}
        <div class="hero-unit">
            <h1>AHGL</h1>
        <h2>TOP COMPANIES DUKING IT OUT ON A VIRTUAL BATTLEFIELD</h2>
    <p>
AHGL Season 2 Has Begun!
</p>
<p>
After months of practice and preparation, employees from over 30 companies now begin facing off against one another in a three month challenge for gaming glory – the After Hours Gaming League (AHGL)
    </p>
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn btn-primary btn-large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary btn-large">Log In</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
    <h2>Archives</h2>
    <p><a href="{% url archives %}" class="btn btn-primary btn-large">Check out past seasons of the AHGL</a></p>
    </div></div>
{% endblock %}
