{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block extra_head_base %}
{{ block.super }}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
{% endblock %}

{% block nav %}
    <ul class="nav">{% spaceless %}
    	<li><a href="{% url pybb:index %}">Forum</a></li>
        {% if user.is_authenticated %}
            {% if user.get_profile.is_active %}
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	Player Actions
              	<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
            	<li id="tab_report"><a href="{% url report_match_list %}">{% trans "Report Match" %}</a></li>
            	<li id="tab_viewlineup"><a href="{% url view_lineup %}">{% trans "View Lineup" %}</a></li>
	            {% if user.get_profile.is_captain %}
	            	<li id="tab_lineup"><a href="{% url submit_lineup %}">{% trans "Submit Lineup" %}</a></li>
	            {% else %}
            	<li><a href="{% url map_list %}">{% trans "Map List" %}</a></li>
	            {% endif %}
	           	{% for team in user.get_profile.captain_of.all %}
            		<li><a href="{% url edit_team team.tournament.slug team.slug %}">{% trans "Edit" %} {{team.name}}</a></li>
            	{% endfor %}
              </ul>
            </li>
            {% endif %}
        {% endif %}
        {% for tournament in tournaments %}
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              	{{tournament.name}}
              	<b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              	<li><a href="{{tournament.get_absolute_url}}">{% trans "Feature" %}</a></li>
			    <li><a href="{% url matches tournament.slug %}">{% trans "Matches" %}</a></li>
			    <li><a href="{% url standings tournament.slug %}">{% trans "Team Standings" %}</a></li>
			    <li><a href="{% url teams tournament.slug %}">{% trans "Teams" %}</a></li>
              </ul>
        {% endfor %}
    {% endspaceless %}</ul>
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
